<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>学生管理系统注册</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">注册账号</h1>
              </div>
              <form class="user" method="post">
                <div class="form-group">
                  <input type="hidden" class="form-control" name="csrf_token" value="{{ csrf_token() }}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="password" placeholder="密码">
                </div>
                <div class="form-group">
                  <select class="form-control" name="identity">
                      <option class="dropdown-item" value="1">教师</option>
                      <option class="dropdown-item" value="0">学生</option>
                  </select>
                </div>
                <input id="submit" class="btn btn-primary btn-block" type="submit" value="注册">
                <br>
              </form>
              <p id="message" style="color: red"></p>
              <div class="text-center">
                <a class="small" href="/login/">已经拥有账号，登陆</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>
  <script>
      $("#username").blur(
          function () {
              var username = $("#username").val();
              var url = "/userValid/";
              var send_data = {
                  "username": username,
                  "csrf_token": '{{ csrf_token() }}'
              };
              $.ajax(
                  {
                      url: url,
                      type: "post",
                      data: send_data,
                      success: function (data) {
                          if (data.code == 400){
                              $("#submit").attr("disabled",true)
                          } else{
                              $("#submit").attr("disabled",false)
                          }
                          $("#message").text(data.data)
                      },
                      error: function (error) {
                          console.log(error)
                      }
                  }
              )
          }
      )
  </script>
{#  <script>#}
{#      $("#username").blur(#}
{#          function () {#}
{#              var username = $("#username").val();#}
{#              var url = "/userValid/?username="+username;#}
{#              $.ajax(#}
{#                  {#}
{#                      url: url,#}
{#                      type: "get",#}
{#                      data: "",#}
{#                      success: function (data) {#}
{#                          if (data.code == 400){#}
{#                              $("#submit").attr("disabled",true)#}
{#                          } else{#}
{#                              $("#submit").attr("disabled",false)#}
{#                          }#}
{#                          $("#message").text(data.data)#}
{#                      },#}
{#                      error: function (error) {#}
{#                          console.log(error)#}
{#                      }#}
{#                  }#}
{#              )#}
{#          }#}
{#      )#}
{#  </script>#}

</body>

</html>
